FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    object      k;
}

dimensions      [0 2 -2 0 0 0 0];

internalField   uniform 0.1;

boundaryField
{
    "(floor|ceiling|heater_wall|heater_wall_surround|opposite_wall|front|back)"
    {
        type            kqRWallFunction;
        value           uniform 0.1;
    }
{% if ventilation | default(false) %}
    supply_vent
    {
        type            fixedValue;
        value           uniform 0.1;
    }
    exhaust_vent
    {
        type            zeroGradient;
    }
{% endif %}
}
