FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    object      nut;
}

dimensions      [0 2 -1 0 0 0 0];

internalField   uniform 0;

boundaryField
{
    "(floor|ceiling|heater_wall|heater_wall_surround|opposite_wall|front|back)"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }
{% if ventilation | default(false) %}
    supply_vent
    {
        type            calculated;
        value           uniform 0;
    }
    exhaust_vent
    {
        type            calculated;
        value           uniform 0;
    }
{% endif %}
}
