FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    object      T;
}

dimensions      [0 0 0 1 0 0 0];

internalField   uniform {{ T_initial }};

boundaryField
{
{% if radiation_model | default("none") != "none" %}
    // Radiation fields handled by radiation model
{% endif %}
    floor
    {
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
    }

    ceiling
    {
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
    }

    heater_wall
    {
{% if heater_model | default("surface_flux") == "volume_source" %}
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
{% else %}
        type            externalWallHeatFluxTemperature;
        mode            flux;
        q               uniform {{ heat_flux }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_heater | default(473.15) }};
{% endif %}
    }

    heater_wall_surround
    {
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
    }

    opposite_wall
    {
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
    }

    front
    {
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
    }

    back
    {
        type            externalWallHeatFluxTemperature;
        mode            coefficient;
        h               uniform {{ wall_htc | default(1.0) }};
        Ta              uniform {{ T_walls }};
        kappaMethod     fluidThermo;
        value           uniform {{ T_wall_inner | default(T_walls) }};
    }
{% if ventilation | default(false) %}
    supply_vent
    {
        type            inletOutlet;
        inletValue      uniform {{ T_ambient | default(293.15) }};
        value           uniform {{ T_ambient | default(293.15) }};
    }
    exhaust_vent
    {
        type            inletOutlet;
        inletValue      uniform {{ T_ambient | default(293.15) }};
        value           uniform {{ T_walls }};
    }
{% endif %}
}
